@import 'open-props/style';

:root {
	--svelte: #ff3e00;
	--vue: #42b883;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

*:focus-visible {
	outline: solid var(--outline-color, var(--svelte));
	outline-offset: var(--size-1);
}

body:focus-visible {
	outline: none;
}

html,
body,
body > div {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-sans);
	padding: 1rem;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#svelte {
	isolation: isolate;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

h1 {
	text-align: center;
}
